.h1 {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
}

body{
   display:inline-block;
   grid-template-areas: "header" "aside main main""footer footer";
    text-align: center;
    font-size:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(132, 132, 240);
    font-size: 15pt;
  }
  h1 {
    margin: 0;
    padding: 18px 0;
    color: #073057;
    text-shadow: 3px 3px 1px rgb(255, 255, 255);
  }
  .texto{
    text-align: center;
  }
  .borda{
    border-color: black;
    border-style: dashed;
  }
  
  .texto-left{
    text-align: center;
  
  }
 